progress,
progress[role] {
  border: $progress-bar-borders;
  background-size: auto;

  width: 100%;
  height: $progress-bar-height;
}

progress[role]:after {
  background-image: none;
}

progress[role] strong {
  display: none;
}

progress,
progress[role][aria-valuenow] {
  background: $progress-bar-background-color !important;
}

progress::-webkit-progress-bar {
  background: $progress-bar-background-color;
}

progress {
  color: $progress-bar-value-color;
}

progress::-moz-progress-bar {
  background: $progress-bar-value-color;
}

progress::-webkit-progress-value {
  background: $progress-bar-value-color;
}

progress[aria-valuenow]:before {
  background: $progress-bar-value-color;
}

.progress-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;

  &__head {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 5px;
  }
}
